/* 공통으로 적용되어야할 css */
:root {
  --primary-color: #0071fe;
  --error-color: #f23648;
  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;
  --white-color: #ffffff;
  --indigo-color: #5A4AE3;
  --orange-color: #FF7A00;
  --footer-bg-color: #454545;
}

html, body {
  height: 100vh;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/* main */
.main-container {
  min-height: 100%;
  padding-bottom: 200px;
}

.main-wrapper {
  display: flex;
  flex-flow: column;
}

/* nav */
nav {
  height: 54px;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
}

.nav-items {
  height: 54px;
  align-items: center;
}

.nav-logo {
  height: 54px;
  width: 100%;
}

#end {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 16px;
  font-weight: bold;
}

/* home */
.home-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 426px;
  background-color: var(--indigo-color);
}

.banner-text {
  position: relative;
  width: 720px;
  height: 180px;
  top: 120px;
  left: -180px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  color: var(--white-color);
}

.banner-text .banner-big {
  font-size: 3.4rem;
  font-weight: bold;
}

.banner-text .banner-small {
  font-size: 2rem;
  font-weight: bold;
}

#banner-image-1 {
  position: relative;
  top: 130px;
  width: 497px;
  height: 371px;
}

.content {
  width: 80%;
  margin: 13rem 0 0 0;
  padding: 4rem;
  border: 1px solid grey;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.content-text {
  display: flex;
  flex-flow: column wrap;
}

.content-text p {
  margin-bottom: 30px;
}

.content-text .content-big {
  margin-top: 0;
  font-weight: 600;
  font-size: 3.4rem;
}

.content-text .content-small {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

#content-image-1 {
  width: 360px;
  height: 292px;
  margin-right: 12rem;
}

/* sub page */
.sub-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  background-color: #ECECEC;
}

.small-banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--indigo-color);
  color: var(--white-color);
  padding-left: 15%;
  margin-bottom: 20px;
}

.small-banner-text {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
}

.grid-box {
  background-color: white;
  border-radius: 5px;
  width: 360px;
  height: 240px;
  padding: 15px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
}

.sub-body {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 40px;
  justify-content: center;
}

.sub-menu {
  background-color: white;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: 700px;
  font-size: 18px;
}

/* footer */
footer {
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: var(--footer-bg-color);
}
