/* 공통으로 적용되어야할 css */
:root {
  --primary-color: #0071fe;
  --error-color: #f23648;
  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;
  --white-color: #ffffff;
  --indigo-color: #5A4AE3;
  --orange-color: #FF7A00;
  --footer-bg-color: #454545;
}

html, body {
  height: 100vh;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/* main */
.main-wrapper {
  display: flex;
  flex-flow: column;
}

/* nav */
nav {
  height: 54px;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.nav-items {
  height: 54px;
  align-items: center;
}

.nav-logo {
  height: 54px;
  width: 100%;
}

#end {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 16px;
  font-weight: bold;
}

/* home */
.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 50px;
}

.home-banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 426px;
  background-color: var(--indigo-color);
}

.home-banner-text {
  position: relative;
  width: 720px;
  height: 180px;
  top: 120px;
  left: -180px;
  margin: 0 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  color: var(--white-color);
}

.home-banner-text h1 {
  font-size: 3.4rem;
}

.home-banner-text p {
  font-size: 2rem;
  font-weight: bold;
}

#home-banner-image-1 {
  position: relative;
  top: 130px;
  width: 497px;
  height: 371px;
}

.home-content {
  width: 80%;
  margin: 13rem 0 0 0;
  padding: 8rem;
  border: 1px solid grey;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.home-content-text {
  display: flex;
  flex-flow: column wrap;
}

.home-content-text > h1, p {
  margin: 4px 0;
}

.home-content-text h1 {
  font-size: 3.4rem;
}

.home-content-text p {
  font-size: 2rem;
}

#home-content-image-1 {
  width: 360px;
  height: 292px;
  margin-right: 12rem;
}

/* footer */
footer {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 200px;
  background-color: var(--footer-bg-color);
}
