/* conference detail */
.detail-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.detail-header {
  background-color:#5a4ae3;
  height: 4rem;
  color:white;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.detail-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-information {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 60%;
  font-size: 2.25rem;
  margin-top: 50px;
}

.detail-isactive {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.live-button {
  margin-top:1rem;
  font-size: 2.25rem;
  color: white;
  background-color: #5a4ae3;
  padding: 5px;
  border-radius: 5px;
  border:0;
  cursor: pointer;
}

.detail-bottom {
  width: 60%;
  margin-top:2rem;
  border-width:1rem;
  margin-right:20rem;
  margin-left:20rem;
  font-size: 2.25rem;
}

.detail-thumbnail-wrapper {
  /* background-size: cover; */
  display: flex;
  justify-content: center;
}

.detail-bottom-button {
  margin-top:1rem;
  font-size: 2.25rem;
  color: black;
  background-color: #e5e7eb;
  padding: 5px;
  border-radius: 5px;
  border:0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.detail-list {
  list-style:none;
  border: 2px solid #e5e7eb;
  padding:2rem;

}

.detail-description {
  width:60%;
  font-weight:bold;
}
