/* sweetalert */
.swal2-container {
  z-index: 10000;
}

/* input */
select {
  width:100px;
  padding:5px;
  border:1px solid #999;
  font-family:'Nanumgothic';
  background:url('https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg') no-repeat 95% 50%;
  border-radius:3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}
select::-ms-expand {
  display: none;
}

/* dropdown */
.nav-dropdown {
  overflow: hidden;
}

.nav-dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-dropdown .nav-icon-dropbtn {
  height: 30px;
  cursor: pointer;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.nav-dropdown-content-right {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.nav-dropdown-content a {
  float: none;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.nav-dropdown-content a:hover {
  transition: 400ms;
  background-color: #ddd;
}

.nav-dropdown-content-right a {
  float: none;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.nav-dropdown-content-right a:hover {
  transition: 400ms;
  background-color: #ddd;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-dropdown:hover .nav-dropdown-content-right {
  display: block;
}
