.groupcall-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(27, 27, 27);
}

.groupcall-body {
  justify-content: center;
}

.groupcall-footer {
  position: absolute;
  bottom: 20px;
}

.participant {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: 480px;
  height: 360px;
  margin: 5px;
}

.participant-name {
  width: auto;
  min-width: 50px;
  text-align: center;
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: white;
  background-color: black;
  opacity: 75%;
}
