.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .9s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  background-color: white;
  flex-flow: column nowrap;
  align-items: center;
  width: 440px;
  max-width: 960px;
  position: absolute;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}

.modal-header {
  font-weight: 700;
  font-size: 2.8rem;
  margin: 5px 0;
}

.modal-body {
  margin: 10px 0;
  position: relative;
}

.modal-hr {
  width: 80%;
  border: 0.5px solid #bbb;
}

.modal-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.modal-thumbnail-selected-title {
  margin-left: 10px;
}

.modal-footer {

}

/* form */
form {
  width: 70%;
}

.form-input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  background-color: #f2f5f7;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
  background-color 0.3s ease-in-out;
}

