.filter-wrapper {
  margin-bottom:1%;
  padding-left: 4%;
}
.filter-list button {
  background-color: #b8b8b8;
  border-radius: 10px;
  color:white;
  font-weight: bold;
  margin-left: 1rem;
}
.filter-list {
  padding-inline-start: 0px;
  justify-content: flex-start;
}
@media (min-width: 1024px) {
  .card-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    grid-template-rows: repeat(5, minmax(50px,auto));
    grid-auto-flow: dense;
    padding-left:4%;
    padding-right:4%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    grid-template-rows: repeat(5, minmax(50px,auto));
    grid-auto-flow: dense;
    padding-left:4%;
    padding-right:4%;
  }
}
@media (max-width: 767px) {
  .card-body{
    display: grid;
    padding-left:4%;
    padding-right:4%;

  }
}
.sort-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
.sort-button {
  font-size: 1.8rem;
  min-width: 90px;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--white-color);
  cursor: pointer;
  border-color: #dbdbdb;
}
.sort-order-button {
  font-size: 1.8rem;
  background-color: var(--white-color);
  border-color: #dbdbdb;
  cursor: pointer;
  border-radius: 5px;
}
.card-body {
  border-color: #dbdbdb;
}
.search-header {
  margin-bottom: 4rem;
}
